.side-menu {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    li {
        color: $background;
        text-transform: uppercase;
        line-height: 2rem;
        cursor: pointer;
        &:hover {
            background: $background;
            color: $main-color;
            font-family: $font-bold;
        }
    }
}